  .otp-input {
    height: 60px;
    width: 60px;
    text-align: center;
    border-radius: 0.375rem;
    border: 1px solid #ced4da; 
  }
  
  .otp-input:focus {
    border-color: #80bdff; 
    box-shadow: 0 0 0 0.2rem rgba(38, 143, 255, 0.25); 
  }
  .form-control{
    padding: 5px 10px !important;
  }
  