/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Encode+Sans+Expanded:wght@300&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=SUSE:wght@100..800&display=swap');
:root {
  --main-color: #0aad0a;
  --light-color: #f0f3f2;
  --dark-color-1:rgba(219, 212, 212, 0.5);
  --dark-color: #064c4f;
  --shadow: rgba(145, 158, 171, 0.2) 0px 2px 4px -1px,
    rgba(145, 158, 171, 0.14) 0px 4px 5px 0px,
    rgba(145, 158, 171, 0.12) 0px 1px 10px 0px;
  --font-family: "Encode Sans Expanded", sans-serif;
  --rating-color: #ffc908;
  --second-font:"Kanit", sans-serif;
  --third-font:"SUSE", sans-serif;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: var(--font-family) !important;
  margin: 0;
  padding: 0;
  background-color: rgba(248, 252, 251, 0.904);
  /* background-color: #ffffff; */
}
.rating-color {
  color: var(--rating-color);
}
.cursor-pointer {
  cursor: pointer;
}
::selection{
  background-color: var(--main-color);
  color: #fff;  
}
a,
a:hover {
  color: black;
  text-decoration: none;
}
.itemOrder{
  box-shadow: var(--shadow);
  & :hover{
    border: solid 1px var(--main-color);
  }
}
.product:hover {
  box-shadow: var(--shadow);
  border: solid 1px var(--main-color);
}
.product .btn {
  transition: transform 1s, opacity 1s;
  transform: translateY(100%);
  opacity: 0;
}
.product:hover .btn {
  opacity: 1;
  transform: translateY(0%);
}
.font-sm {
  font-size: 14px;
}
.text-main {
  color: var(--main-color);
}
.text-sec{
  color: var(--dark-color);
  font-size: 14px;
}
.underline{
  text-decoration: underline;
}
.bg-main {
  background-color: var(--main-color) !important;
  color: #ffffff !important;
}
.min-vh{
  min-height: 50vh; 
}
.max-vw{
  max-width: 50vw;
}
.max-vh{
  max-height: 50vh;
}
.bg-main-light {
  background-color: var(--light-color) !important;
}
.bg-main-dark {
  background-color: var(--dark-color) !important;
  color: #ffffff;
  }
::-webkit-scrollbar{
  width: 8px; 
}
::-webkit-scrollbar-track {
  background-color: var(--dark-color);
}
::-webkit-scrollbar-thumb {
  background-color: var(--main-color);
  }
  button[type="submit"]{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .eyeicon {
    position: absolute;
    top: 45%;
    right: 10px;
    transform: translateY(-50%);
    cursor: pointer;
    z-index: 2;
    color: #333; 
  }
  